body{
    /*background-image: url('/images/samsung-memory-iRY8lnq0xb0-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: rgba(136,136, 206,0.7 );
}
main{
    max-width: 700px;
}
label{
    display: block;

}
input{
    margin-right: 10px;
    border-radius: 6px;
}
#submit{
    display: block;
    width: 100%;
    color: green;
    border-radius: 6px;
}